:root {
    --entry-text-height: 1.5em;
}

body {
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2px;
    padding: 0;
}

#pages {
    user-select: none;
}

.page-dropdown {
    display: flex;
    flex-direction: column;
}
.page-dropdown a {
    height: 0;
    overflow: hidden;
    transition: 0.2s;
}

.page-dropdown.dropdown-showing a {
    height: var(--entry-text-height);
}