:root {
    --sidebar-width: 25vw;
    --border-width: 8px;
}

html, body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}

body {
    background: linear-gradient(332deg, #1a0062, #005c84, #0012da, #59008f, #7a005d, #008aaf, #0034c9);
    background-size: 1400% 1400%;

    -webkit-animation: BackgroundGradient 20s ease infinite;
    -moz-animation: BackgroundGradient 20s ease infinite;
    animation: BackgroundGradient 20s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes BackgroundGradient {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes BackgroundGradient {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

body {
    display: flex;
    flex-direction: row;
}

button, input {
    background-color: rgba(21, 0, 114, 0.767);
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    margin: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content-header, #header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#page-title {
    flex-grow: 1;
}

#sidebar {
    width: calc(var(--sidebar-width) - (var(--border-width) * 2));
    height: calc(100vh - (var(--border-width) * 2));
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
}

#content {
    background: linear-gradient(263deg, rgba(0,0,0,0.8799894957983193) 0%, rgba(60,60,60,0.7175245098039216) 100%);
    flex-grow: 1;
    position: absolute;
    top: var(--border-width);
    left: calc(var(--sidebar-width));
    width: calc(100vw - var(--sidebar-width) - var(--border-width));
    box-sizing: border-box;
    padding: 8px;
    height: calc(100vh - var(--border-width) * 2);
    overflow-y: auto;
}

#content, #sidebar {
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 0 0 4px black;
}

a {
    color: white;
}