<!DOCTYPE html>
<html>
    <head>
        <title>{{ wikiname }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <iframe id="sidebar" src="/sidebar"></iframe>

        <div id="content">
            <div id="content-header" class="permission-level-1">
                <div id="page-title">{{ pagename|safe }}</div>
                <button onclick="showEditor()">edit</button>
                <form method="post">
                    <input name="path" value="{{ pagename|safe }}" hidden>
                    <input type="submit" value="delete" onclick="this.form.action='/deletepage'">

                </form>
            </div>
            {{ content|safe }}
        </div>

        <div id="edit-modal">
            <div id="edit-modal-buttons">
                <button onclick="hideEditor()">cancel</button>
                <form method="post" action="/editpage" id="editpageform" style="display: flex; flex-direction: row;">
                    <input name="path" value="{{ pagename|safe }}" hidden>
                    <input type="submit" value="save">
                    <label for="name">Page name: </label>
                    <input name="name" value="{{ pagename|safe }}" placeholder="Page name">
                </form>
            </div>
            <textarea name="content" form="editpageform">{{ contentraw|safe }}</textarea>
        </div>

        <div id="add-modal">
            <form method="post">
                <h1>Add to: </h1> <input name="adding-to" id="adding-to"></input>
                <input id="add-name" name="add-name" placeholder="Name...">
                <input type='submit' value='Add Folder' onclick='this.form.action="/addfolder";' />
                <input type='submit' value='Add Page' onclick='this.form.action="/addpage";' />
            </form>
            
            <button onclick="document.getElementById('add-modal').classList.remove('showing-modal')">Cancel</button>
        </div>

        <script type="text/javascript">
            const permissionLevel = {{ permissionlevel|safe }};

            const permissionLevels = [-1, 0, 1];

            const editModal = document.getElementById("edit-modal");

            permissionLevels.forEach((level, index, array) => {
                Array.prototype.slice.call(document.getElementsByClassName("permission-level-" + level)).forEach((value, index, array) => {
                    value.style.display = level <= permissionLevel ? "" : "none";
                });
            });

            function showEditor() {
                editModal.classList.add("showing-modal");
            }

            function hideEditor() {
                editModal.classList.remove("showing-modal");
            }
        </script>
    </body>
</html>